---
on:
  push:
    tags:
    - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      # v4
      uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

    - name: set up Docker Buildx
      # v3
      uses: docker/setup-buildx-action@7c525be6cc8a882d5163ce04293cac18617c709f

    - name: login to DockerHub
      # v3
      uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: build and push
      id: docker_build
      # v6
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
      with:
        push: true
        build-args:
        - PACKER_VERSION='1.7.8'
        tags:
        - ${{ github.repository }}:latest
        - ${{ github.repository }}:${{ github.ref_name }}
